{% extends 'base.html.twig' %}
{% block title %}Ingredionator 3003{% endblock %}
{% block body %}
    <img class="home-logo" src="{{ asset('assets/img/logo-moche.png')}}" alt="Ingredionator 3003"></img>
    <div id="react-render-app">
    </div>
{% endblock %}

{% block javascripts %}

<script type="text/babel" src="{{ asset('assets/js/searchpage.jsx') }}"></script>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{{ asset('built/app.css') }}">
{% endblock %}
